<!DOCTYPE html>
<html dir="ltr" lang="ko">
{% load static %}
{% include 'head_manager.html' %}
<style>

tr.colored:nth-child(even){

}

tr.colored:nth-child(odd){
}

tr.colored:hover td{

  background-color:#cdcdcd !important;

  color:#303f39 !important;

}

</style>
<body>
    <!-- ============================================================== -->
    <!-- Preloader - style you can find in spinners.css -->
    <!-- ============================================================== -->
    <div class="preloader">
        <div class="lds-ripple">
            <div class="lds-pos"></div>
            <div class="lds-pos"></div>
        </div>
    </div>
    <!-- ============================================================== -->
    <!-- Main wrapper - style you can find in pages.scss -->
    <!-- ============================================================== -->
    <div id="main-wrapper" data-layout="vertical" data-navbarbg="skin5" data-sidebartype="full"
        data-sidebar-position="absolute" data-header-position="absolute" data-boxed-layout="full">
        <!-- ============================================================== -->
        <!-- Topbar header - style you can find in pages.scss -->
        <!-- ============================================================== -->
        {% include 'topbar_manager.html' %}
        <!-- ============================================================== -->
        <!-- End Topbar header -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Left Sidebar - style you can find in sidebar.scss  -->
        <!-- ============================================================== -->
        {% include 'left-sidebar_manager.html' %}
        <!-- ============================================================== -->
        <!-- End Left Sidebar - style you can find in sidebar.scss  -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Page wrapper  -->
        <!-- ============================================================== -->
        <div class="page-wrapper">
            <!-- ============================================================== -->
            <!-- Bread crumb and right sidebar toggle -->
            <!-- ============================================================== -->
            <div class="page-breadcrumb bg-white">
                <div class="row align-items-center">
                    <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
                        <h4 class="page-title">동시통역/실전문제 인쇄</h4>
                    </div>
                    <div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
                        <div class="d-md-flex">
                            <ol class="breadcrumb ms-auto">
                                <li><a href="#" class="fw-normal">Dashboard</a></li>
                            </ol>
                        </div>
                    </div>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- ============================================================== -->
            <!-- End Bread crumb and right sidebar toggle -->
            <!-- ============================================================== -->
            <!-- ============================================================== -->
            <!-- Container fluid  -->
            <!-- ============================================================== -->
            <div class="container-fluid">
                <!-- ============================================================== -->
                <!-- Start Page Content -->
                <!-- ============================================================== -->
                <div class="row">
                    <div class="col-sm-3">
                        <div class="white-box">
                            <h3 class="box-title">레벨 선택<code>&nbsp</code></h3>
                            <div class="border-bottom"><br>
                                {% for level in level_list %}
                                <a href="?lv={{level.level_code}}"><p>{{ level.level_name }}</p></a>
                                {% endfor %}
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-3">
                        <div class="white-box">
                            <h3 class="box-title">테마 선택<code>&nbsp</code></h3>
                            <div class="border-bottom"><br>
                                {% for theme in theme_list %}
                                <a href="?lv={{level_code}}&th={{theme.theme_code}}"><p>{{ theme.theme_name }}</p></a>
                                {% endfor %}
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-6">
                        <div class="white-box">
                            <div class="table-responsive">
                                <table class="table text-nowrap">
                                    <thead>
                                        <tr>
                                            <th class="border-top-0">토픽명</th>
                                            <th class="border-top-0">동시통역</th>
                                            <th class="border-top-0">실전문제</th>

                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for topic in topic_list %}
                                        <tr>
                                            <td>{{ topic.topic_name }}</td>
                                            <td><button type="button" class="btn btn-outline-primary" onclick="window.open('{% url 'manager:interpretation' topic_code=topic.topic_code %}', '_new', 'width=900px, height=1000px' );"> 출력</button></td>
                                            <td><button type="button" class="btn btn-outline-primary" onclick="window.open('{% url 'manager:comprehension' topic_code=topic.topic_code %}', '_new', 'width=900px, height=1000px' );">출력</button></td>

                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>



                </div>
                <!-- ============================================================== -->
                <!-- End PAge Content -->
                <!-- ============================================================== -->
                <!-- ============================================================== -->
                <!-- Right sidebar -->
                <!-- ============================================================== -->
                <!-- .right-sidebar -->
                <!-- ============================================================== -->
                <!-- End Right sidebar -->
                <!-- ============================================================== -->
            </div>
            <!-- ============================================================== -->
            <!-- End Container fluid  -->
            <!-- ============================================================== -->
            <!-- ============================================================== -->
            <!-- footer -->
            <!-- ============================================================== -->
            {% include 'footer_manager.html' %}
            <!-- ============================================================== -->
            <!-- End footer -->
            <!-- ============================================================== -->
        </div>
        <!-- ============================================================== -->
        <!-- End Page wrapper  -->
        <!-- ============================================================== -->
    </div>
    <!-- ============================================================== -->
    <!-- End Wrapper -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- All Jquery -->
    <!-- ============================================================== -->
    <script src="{% static 'plugins/bower_components/jquery/dist/jquery.min.js' %}"></script>
    <!-- Bootstrap tether Core JavaScript -->
    <script src="{% static 'bootstrap/dist/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'js/app-style-switcher.js' %}"></script>
    <script src="{% static 'plugins/bower_components/jquery-sparkline/jquery.sparkline.min.js' %}"></script>
    <!--Wave Effects -->
    <script src="{% static 'js/waves.js' %}"></script>
    <!--Menu sidebar -->
    <script src="{% static 'js/sidebarmenu.js' %}"></script>
    <!--Custom JavaScript -->
    <script src="{% static 'js/custom.js' %}"></script>
    <!--This page JavaScript -->
    <!--chartis chart-->
    <script src="{% static 'plugins/bower_components/chartist/dist/chartist.min.js' %}"></script>
    <script src="{% static 'plugins/bower_components/chartist-plugin-tooltips/dist/chartist-plugin-tooltip.min.js' %}"></script>
    <script src="{% static 'js/pages/dashboards/dashboard1.js' %}"></script>
</body>

</html>