<!DOCTYPE html>
<html dir="ltr" lang="ko">
{% load static %}
{% include 'head_dialog.html' %}
<style>

tr.colored:nth-child(even){

}

tr.colored:nth-child(odd){
}

tr.colored:hover td{

  background-color:#cdcdcd !important;

  color:#303f39 !important;

}

.onState{
    font-size: 1.1rem;
    font-weight: bold;
    background-color: #f5f5f5;
    color: #0e2259;

}
</style>
<body>
    <!-- ============================================================== -->
    <!-- Preloader - style you can find in spinners.css -->
    <!-- ============================================================== -->
    <div class="preloader">
        <div class="lds-ripple">
            <div class="lds-pos"></div>
            <div class="lds-pos"></div>
        </div>
    </div>
    <!-- ============================================================== -->
    <!-- Main wrapper - style you can find in pages.scss -->
    <!-- ============================================================== -->
    <div id="main-wrapper" data-layout="vertical" data-navbarbg="skin5" data-sidebartype="full"
        data-sidebar-position="absolute" data-header-position="absolute" data-boxed-layout="full">
        <!-- ============================================================== -->
        <!-- Page wrapper  -->
        <!-- ============================================================== -->
        <div class="page-wrapper" style="margin-left: 0px">
            <!-- ============================================================== -->
            <!-- Bread crumb and right sidebar toggle -->
            <!-- ============================================================== -->
            <div class="page-breadcrumb bg-white">
                <div class="row align-items-center">
                    <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
                        <img src="{% static 'plugins/images/cem_logo_square.png' %}" width="100px" alt="homepage" style="padding-left: 15px; padding-top: 10px;" />
                        <span class="page-title" style="font-size: 1.5rem; padding-left: 20px; vertical-align: bottom">영어회화 음원</span>
                    </div>
                    <div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
                        <div class="d-md-flex">
                            <ol class="breadcrumb ms-auto">
                                <li><a href="#" class="fw-normal">&nbsp;</a></li>
                            </ol>
                        </div>
                    </div>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- ============================================================== -->
            <!-- End Bread crumb and right sidebar toggle -->
            <!-- ============================================================== -->
            <!-- ============================================================== -->
            <!-- Container fluid  -->
            <!-- ============================================================== -->
            <div class="container-fluid">
                <!-- ============================================================== -->
                <!-- Start Page Content -->
                <!-- ============================================================== -->
                <div class="row">
                    <div class="col-sm-3">
                        <div class="white-box">
                            <h3 class="box-title">교재<code>&nbsp</code></h3>
                            <div class="border-bottom"><br>
                                {% for step in step_list %}
                                <a href="?step={{ step }}"><p class="{% if step == step_code %}onState{% endif %}">{{ step }}</p></a>
                                {% endfor %}
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-3">
                        <div class="white-box">
                            <h3 class="box-title">권 / CD <code>&nbsp</code></h3>
                            <div class="border-bottom"><br>
                                {% for bookcd in bookcd_list %}
                                <a href="?step={{step_code}}&bookcd={{ bookcd.value }}"><p class="{% if bookcd.value == bookcd_code %}onState{% endif %}">{{ bookcd.name }}</p></a>
                                {% endfor %}
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-3">
                        <div class="white-box">
                            <div class="table-responsive">
                                <table class="table text-nowrap">
                                    <thead>
                                        <tr>
                                            <th class="border-top-0">트랙</th>
                                            <th class="border-top-0;">사운드</th>

                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for track in track_list %}
                                        <tr>
                                            <td>트랙{{ forloop.counter }}</td>
                                            <td><a href="javascript:playSound('{{ track.mp3 }}')"><button type="button" class="btn btn-outline-primary" >재생</button></a></td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>




                </div>
                <!-- ============================================================== -->
                <!-- End PAge Content -->
                <!-- ============================================================== -->
                <!-- ============================================================== -->
                <!-- Right sidebar -->
                <!-- ============================================================== -->
                <!-- .right-sidebar -->
                <!-- ============================================================== -->
                <!-- End Right sidebar -->
                <!-- ============================================================== -->
            </div>
            <!-- ============================================================== -->
            <!-- End Container fluid  -->
            <!-- ============================================================== -->
            <!-- ============================================================== -->
            <!-- footer -->
            <!-- ============================================================== -->
            {% include 'footer_manager.html' %}
            <!-- ============================================================== -->
            <!-- End footer -->
            <!-- ============================================================== -->
        </div>
        <!-- ============================================================== -->
        <!-- End Page wrapper  -->
        <!-- ============================================================== -->
    </div>
    <!-- ============================================================== -->
    <!-- End Wrapper -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- All Jquery -->
    <!-- ============================================================== -->
    <script src="{% static 'plugins/bower_components/jquery/dist/jquery.min.js' %}"></script>
    <!-- Bootstrap tether Core JavaScript -->
    <script src="{% static 'bootstrap/dist/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'js/app-style-switcher.js' %}"></script>
    <script src="{% static 'plugins/bower_components/jquery-sparkline/jquery.sparkline.min.js' %}"></script>
    <!--Wave Effects -->
    <script src="{% static 'js/waves.js' %}"></script>
    <!--Menu sidebar -->
    <script src="{% static 'js/sidebarmenu.js' %}"></script>
    <!--Custom JavaScript -->
    <script src="{% static 'js/custom.js' %}"></script>
    <!--This page JavaScript -->
    <!--chartis chart-->
    <script src="{% static 'plugins/bower_components/chartist/dist/chartist.min.js' %}"></script>
    <script src="{% static 'plugins/bower_components/chartist-plugin-tooltips/dist/chartist-plugin-tooltip.min.js' %}"></script>
    <script src="{% static 'js/pages/dashboards/dashboard1.js' %}"></script>
    <script>
    this.audio = null;
    function playSound(snd)
    {
        if( this.audio ) this.audio.pause();
        url = '{{ sound_path }}' + snd;
        this.audio = new Audio(url);
        this.audio.play();
    }
    </script>
</body>

</html>